/*style page to share*/



#menulogo {
    width: 130px;
}

#logomenu {
    width: 175px;
    padding-top: 3px;
    padding-bottom: 13px;
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-nav {
    display: flex;
    align-items: flex-end;
    align-content: space-around;
}

.navbar-header {
    align-content: 50px;
    height: 50px;
}


.select {
    background-color: lightgrey;
}



.footer {
    background-color:#333333;;
    height: 100px;
    color:#f4f4f4;
    width: 100%;

}

.navbar {
    padding-left: 10px;
    padding-right: 10px;
}


