/* css myPortfolio*/

body
{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
#myCarousel .nav a small
{
    display: block;
}
#myCarousel .nav
{
    background: #eee;
}
.nav-justified > li > a
{
    border-radius: 0px;
}
.nav-pills>li[data-slide-to="0"].active a { 
    background-color: #16a085; 
}
.nav-pills>li[data-slide-to="1"].active a { 
    background-color: #e67e22; 
}

.nav-pills>li[data-slide-to="2"].active a {
    background-color: #2980b9; 
}
.nav-pills>li[data-slide-to="3"].active a { 
    background-color: #8e44ad; 
}
.inline {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.imagen {
    width: 100%;
    height: 40px;
}
.imagenprincipal {
    width: 100%;
    height: 100px;
}
.imagenportfoliodetalle {
    width: 100%;
    height: 300px;
}
.imagenportfoliodetalle2 {
    width: 100%;
    height: 100px;
}

.square {
    border: 1px black solid;
    margin: 10px;
    height: 30px;
    width: 30px;
    text-align-last: center;
}
.squarehome {
    border: 1px black solid;
    text-align-last: center;
}
.squarefull {
    border: 1px black solid;
    width: 100%;
}



.logocliente {
    width: 60px;
    height: 60px;

}
.imgblog {
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;

}
.imgblogdetalle {
    width: 100%;
    height: 300px;

}

.padding420 {
    padding: 20px;
}

/* Testimonials */
.testimonials p {
    background: #f8f8f8 none repeat scroll 0 0;
    border: medium none;
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    position: relative;
    width: 100%;
}


.testimonials .carousel-info img {
    border: 1px solid #f5f5f5;
    border-radius: 150px !important;
    height: 75px;
    padding: 3px;
    width: 75px;
}

.testimonials .carousel-info img {
    margin-right: 15px;
}
.testimonials .carousel-info span {
    display: block;
}
.testimonials span.testimonials-name {
    color: #e6400c;
    font-size: 16px;
    font-weight: 300;
    margin: 23px 0 7px;
}
.testimonials span.testimonials-post {
    color: #656565;
    font-size: 12px;
}



.fifty {
    display: flex;
    width: 50%;
}
#ceoimg {
    height: 440px;
}

.block {
    display: flex;
    flex-direction: column;
}



.cuarter {
    width: 200px;
    height: 150px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}



.wrap {
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: solid black 1px;
    width: 200px;
    height: 190px;
}

.textinfo {
    display: flex;
    flex-wrap: wrap;
}

.seventy5 {
    width: 75%;
    border-right: black 2px solid;
}

.twenty5 {
    width: 25%;
    padding-left: 10px;
}

.contanctlink {
    background-color: black;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    width: 100%;
}

.bold {
    font-weight: bold;

}

.spacelecf5 {
    padding-left: 5%
}


.carousel-info img {
    border-radius: 150px !important;
    height: 75px;
    padding: 3px;
    width: 75px;
}


.testimonials-name {
    color: purple;
    font-size: 14px;
    font-weight: bold;
}

.testimonialtext {
    color:grey;
    font-size: 20px;
    background-color: none;
}

.comillas {
    width: 20px;
    height: 20px;
}


#contact{
    background:#333333;
    color:#f4f4f4;
    padding-bottom:80px;
}

textarea.form-control{
    height:100px;
}




#custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;   
}
li {
    list-style: none
}





.form-search {
    width: 100%;
}



form {
    margin-top:30px;
}

#myCarousel {
    width: 100%;
}

.carousel-inner {
    width: 100%;
}

.imgcaruselportada {
    width: 100%;
    height: 200px;
}

.item {
    height: 350px;
}

.iframe {
    width: 500px;
    height: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
}



#footer {
    margin-top: 30px;
}


